{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{ location }}用户列表</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>用户名</th>
            <th>协议</th>
            <th>所在局向</th>
            <th>工单号</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="{% url 'detail' '飞机' %}"> 飞机</a>
                <small class="text-muted d-block">{{ company.portal }}</small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
        </tr>
          {% for company in companies %}
            <tr>
              <td>
                <a href="{% url 'company_detail' company.name%}"> {{ company.name }}</a>
                <small class="text-muted d-block">{{ company.portal }}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>