{% extends 'base.html' %}
{% block title %}{{ company }}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ company }}详细信息</li>
{% endblock %}
{% block content %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>用户名</th>
            <th>协议</th>
            <th>所在局向</th>
            <th>工单号</th>
        </tr>
        <td class="align-middle">{{ company }}</td>
        <td class="align-middle">0</td>
        <td class="align-middle">0</td>
        <td class="align-middle">0</td>

        </thead>
    </table>
{% endblock %}