{% extends 'base.html' %}

{% block title %}新建用户{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'companies' 'hs' 0%}">用户列表</a></li>
    <li class="breadcrumb-item active">新建用户</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="Name">客户名称</label>
              <input type="text" class="form-control" id="Name" placeholder="请输入客户名称">
          </div>
          <div class="form-group col-md-2">
              <label for="Numbers">引示号</label>
              <input type="text" class="form-control" id="Numbers" placeholder="87654321">
          </div>
          <div class="form-group col-md-2">
              <label for="DPC">DPC</label>
              <input type="text" class="form-control" id="DPC" placeholder="100.1.34">
          </div>
          <div class="form-group col-md-2">
              <label for="Das">主叫白名单选择子</label>
              <input type="text" class="form-control" id="Das" placeholder="600">
          </div>
          <div class="form-group col-md-2">
              <label for="Creater">数据制作人</label>
              <input type="text" class="form-control" id="Creater" placeholder="请输入填表人">
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-10">
              <label>协议：</label>
              <label class="radio-inline">
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios1" value="option1" checked> PRA
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option3" > ISUP
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios2"  value="option2"> TUP
                  <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option3" > R2
              </label>
          </div>
          <div class="form-group col-md-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                      并发呼叫
                  </label>
              </div>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
              <form role="form">
                  <div class="form-group">
                      <label for="name">版位</label>
                      <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="form-group col-md-2">
              <form role="form">
                  <div class="form-group">
                      <label for="name">端口</label>
                      <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="form-group col-md-2">
              <form role="form">
                  <div class="form-group">
                      <label for="name">电路</label>
                      <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                  </div>
              </form>
          </div>
      </div>
      <button type="submit" class="btn btn-default">添加电路</button>
      <div class="form-group">
          <label for="id_message">备注：</label>
          <textarea class="form-control" id="remarks" name="remarks" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-success">确定</button>
  </form>
{% endblock %}