{% extends 'base.html' %}

{% block title %}新建用户{% endblock %}

{% block breadcrumb %}
    {% if location == '洪山' %}
        <li class="breadcrumb-item active">新建洪山MGCF用户</li>
        <li class="breadcrumb-item "><a href="{% url 'new_company' '营房村' %}">新建营房村MGCF用户</a></li>
    {% elif location == '营房村' %}
        <li class="breadcrumb-item "><a href="{% url 'new_company' '洪山' %}">新建洪山MGCF用户</a></li>
        <li class="breadcrumb-item active">新建营房村MGCF用户</li>
    {% endif %}
{#    <li class="breadcrumb-item active">新建{{ location }}MGCF用户</li>#}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Name">客户名称</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="请输入客户名称">
            </div>
            <div class="form-group col-md-2">
                <label for="Numbers">引示号</label>
                <input type="text" class="form-control" id="Numbers" name="Numbers" placeholder="87654321">
            </div>
            <div class="form-group col-md-2">
                <label for="DPC" id="DPCLabel" hidden="hidden">DPC</label>
                <input type="text" class="form-control" id="DPC" name="DPC" placeholder="100.1.34" hidden="hidden">
            </div>
            <div class="form-group col-md-2">
                <label for="Ofcid" id="OfcidLabel" hidden="hidden">邻接局号</label>
                <input type="text" class="form-control" id="Ofcid" name="Ofcid" placeholder="600" hidden="hidden">
            </div>
            <div class="form-group col-md-2">
                <label for="Creater">数据制作人</label>
                <input type="text" class="form-control" id="Creater" name="Creater" placeholder="请输入填表人">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label>协议：</label>
                <div class="radio" onclick="portalClick()">
                    <label class="radio-inline">
                        <input type="radio" name="portal" id="optionsRadios1" value="PRA" checked> PRA
                        <input type="radio" name="portal" id="optionsRadios2" value="ISUP"> ISUP
                        <input type="radio" name="portal" id="optionsRadios3" value="TUP"> TUP
                        <input type="radio" name="portal" id="optionsRadios4" value="R2" disabled="disabled"> R2
                    </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        并发呼叫
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-11">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="location">MGW位置</label>
                        <select class="form-control" id="location" onclick="">
                            {% for location in locations %}
                                <option>{{ location }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="slot">板位</label>
                        <select class="form-control" id="slot" onclick="slotClick()">
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="mas">端口</label>
                        <select class="form-control" id="mas">
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sub" id="sub_id">电路</label>
                        <select class="form-control" id="sub">
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select multiple id="multiSelect" class="form-control" name="circuits">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-1">
                <div class="form-row">
                    <div class="form-group col-md-12">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-default" onclick="buttonAdd()">添加电路</button>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-default" onclick="buttonDel()">删除电路</button>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-default" onclick="buttonClear()">清除电路</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="remarks">备注：</label>
            <textarea class="form-control" id="remarks" name="remarks" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success" onclick="selectAll()">确定</button>
    </form>
    <script>
        window.onload = function () {
            masInit(8);
            subInit(63);
            slotInit()
        }

        function buttonAdd() {
            var option = document.createElement("option");
            var location = document.getElementById("location");
            var slot = document.getElementById("slot");
            var mas = document.getElementById("mas");
            var sub = document.getElementById("sub");
            if (sub.hidden) {
                option.text = location.options[location.selectedIndex].text + ':' + slot.options[slot.selectedIndex].text + '-' + mas.options[mas.selectedIndex].text;
            }
            else {
                option.text = location.options[location.selectedIndex].text + ':' + slot.options[slot.selectedIndex].text + '-' + mas.options[mas.selectedIndex].text + '-' + sub.options[sub.selectedIndex].text;
            }
            {#option.selected="selected"#}
            document.getElementById("multiSelect").add(option);
        }

        function buttonDel() {
            var select = document.getElementById("multiSelect")
            for (var i = select.options.length - 1; i >= 0; i--) {
                if (select.options[i].selected) {
                    select.remove(i);
                }
            }
        }

        function buttonClear() {
            var select = document.getElementById("multiSelect")
            for (var i = select.options.length - 1; i >= 0; i--) {
                select.remove(i);
            }
        }

        function slotClick() {
            if (document.getElementById("slot").selectedIndex > 1) {
                document.getElementById("sub").hidden = "hidden"
                document.getElementById("sub_id").hidden = "hidden"
                masInit(64)
            }
            else {
                document.getElementById("sub").removeAttribute("hidden");
                document.getElementById("sub_id").removeAttribute("hidden");
                masInit(8)
            }
        }

        function portalClick(){
            var p = document.getElementsByName("portal");
            for (var i = 0, length = p.length; i < length; i++) {
                if (p[i].checked) {
                    // 弹出选中值
                    var portal = p[i].value;
                    // 选中后退出循环
                    break;
                }
            }
            if (portal === 'PRA') {
                document.getElementById("Ofcid").hidden = "hidden";
                document.getElementById("OfcidLabel").hidden = "hidden";
                document.getElementById("DPC").hidden = "hidden";
                document.getElementById("DPCLabel").hidden = "hidden";
            }
            else {
                document.getElementById("Ofcid").removeAttribute("hidden");
                document.getElementById("OfcidLabel").removeAttribute("hidden");
                document.getElementById("DPC").removeAttribute("hidden");
                document.getElementById("DPCLabel").removeAttribute("hidden");
            }
        }

        function masInit(n){
            var mas = document.getElementById("mas");
            for (var i = mas.options.length - 1; i >= 0; i--) {
                mas.remove(i);
            }
            for (var i = 1; i <= n; i++) {
                mas.options.add(new Option(i))
            }
        }
        function subInit(n){
            var sub = document.getElementById("sub");
            for (var i = sub.options.length - 1; i >= 0; i--) {
                sub.remove(i);
            }
            for (var i = 1; i <= n; i++) {
                sub.options.add(new Option(i))
            }
        }
        function slotInit(){
            var slot = document.getElementById("slot");
            for (var i = slot.options.length - 1; i >= 0; i--) {
                slot.remove(i);
            }
            slot.options.add(new Option("1-3-15"))
            slot.options.add(new Option("1-3-16"))
            slot.options.add(new Option("1-3-25"))
            slot.options.add(new Option("1-3-26"))
            slot.options.add(new Option("1-3-27"))
            slot.options.add(new Option("1-3-28"))
        }
        function selectAll() {
            var select = document.getElementById("multiSelect")
            for (var i = select.options.length - 1; i >= 0; i--) {
                select.options[i].selected="selected"
            }
        }
    </script>
{% endblock %}